snippet copyright "description"
/*
 * Copyright (c) 2018 OpenText Corporation. All Rights Reserved.
 * OpenText Confidential: Restricted Internal Distribution
 */
endsnippet

snippet main "java main"
public static void main(String[] args) {
    $1
}
endsnippet

snippet sout "sysout"
System.out.println($1);
endsnippet
