snippet it "karma test case"
it('$1', () => {
  $2
});
endsnippet

snippet log "description"
console.log('$1');
endsnippet


snippet logi "description"
console.log('--------------------$1------------------');
endsnippet
